.loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
}

.loading img {
  display: block;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
}

.previousPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  min-height: 100vh;
}

.nextPage {
  position: fixed;
  top: 0;
  right: 0;
  width: 25%;
  min-height: 100vh;
}

.back {
  position: fixed;
  top: 0;
  left: 25%;
  width: 50%;
  min-height: 100vh;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}

.image img {
  display: block;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}
