.readingStatus {
  position: relative;
  display: inline-block;
}

.readingStatus .badge {
  position: absolute;
  top: -1px;
}

.readingStatus .missing {
  right: -1px;
}

.readingStatus .toRead {
  left: -1px;
}

.badge {
  color: black;
}
.toRead {
  background: #d9edf7;
}
.missing {
  background: #f2dede;
}

#search {
    background-image: url('../../assets/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.btn-group{
    margin-bottom: 5px;
}