<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button (click)="isCollapsed = !isCollapsed" type="button" class="navbar-toggle pull-xs-right hidden-sm-up" aria-controls="bd-main-nav">
        {{menuIcon}}
      </button>
      <a (click)="isCollapsed = true" class="navbar-brand hidden-sm-up" [routerLink]="['/']">Comics Manager</a>
    </div>
    <div class="navbar-toggleable-xs navbar-collapse" id="bd-main-nav" [attr.aria-expanded]="!isCollapsed" [ngClass]="{collapse: isCollapsed}">
      <ul class="nav navbar-nav navbar-right">
        <li (click)="isCollapsed = true" class="nav-item">
          <a class="navbar-brand hidden-xs-down" [routerLink]="['/']">Home</a>
        </li>
        <li (click)="isCollapsed = true" class="nav-item">
          <a class="navbar-brand hidden-xs-down" [routerLink]="['/config']">Config</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<simple-notifications [options]="options"></simple-notifications>
<div class="container">
  <router-outlet></router-outlet>
</div>
