<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Config</h1>
  </div>
  <div class="panel-body">
    <div>Comics path:
      <input name="comicsPath" [(ngModel)]="libraryService.config.comicsPath" type="text" placeholder="/Path/to/your/comics">
    </div>
    <div>ComicVine API key:
      <input name="comicVineAPI" [(ngModel)]="libraryService.config.comicVineAPI" type="text" placeholder="Your comic vine API key">
    </div>
    <div *ngFor="let publisher of libraryService.config.getPublishers()">
      {{publisher.name}}
    </div>
    <button (click)="libraryService.saveConfig(notificationsService)">Save config</button>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Special commands</h1>
  </div>
  <div class="panel-body">
    <ul class="nav navbar-nav">
      <li>
        <a (click)="libraryService.parseComics(notificationsService)">Update comics</a>
      </li>
      <li>
        <a (click)="libraryService.parseIssues(notificationsService)">Update issues</a>
      </li>
      <li>
        <a (click)="libraryService.findExactMapping(notificationsService)">Update comics info with Comic Vine API</a>
      </li>
      <li>
        <a (click)="libraryService.updateComicsInfos(notificationsService)">Update issues info with Comic Vine API</a>
      </li>
    </ul>
  </div>
</div>
