/* You can add global styles to this file, and also import other style files */
.clickable:hover{
    cursor: pointer;
}

.thead-default th {
  color: #464a4c;
  background-color: #eceeef;
  padding: 10px;
}